html{
    height: 100%;
    width: 100%;
    overflow:hidden;
}

body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: auto;
    width: 70%;
}

.form-control{
    width: 70%;
}

.main {
    padding: 10px;
}
.search_div{
    padding: 10px;
}
.search {
    height: 50px;
    width: 96%;
    font-size: 20px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.body_spacing {
    padding-top: 40px;
    padding-left: 4vh;
}

.list-group-item{
    font-size: larger;
    width: 70%;
}

.nav-link a{
    font-size: larger;
}

.nav-link a:hover{
    text-decoration:none;
}

.navbar-brand{
    font-size: 46px;
}

.article{
    font-size: 24px;
}
.article h1{
    padding-bottom: 18px;
}
.article h2{
    padding-bottom: 16px;
}
.article h3{
    padding-bottom: 14px;
}
.article .edit_btn{
    padding-top: 20px;
}

.messages{
    font-size: large;
    padding: 10px;
    padding-left: 0vh;
}
.article_message{
    padding: 30px;
}