{% extends "encyclopedia/layout.html" %}

{% block title %}

    {% if article != 'None' %}
        {{title}}
    {% else %}
        Page Not Found
    {% endif %}

{% endblock %}

{% block body %}
    <div class='article'>
        {% if article != 'None' %}
            {{article|safe}}
            <div class='edit_btn'>
                <a href="{% url 'encyclopedia:edit' name=title %}" class="btn btn-outline-dark">Edit Page</a>
            </div>
        {% else %}
            404: Page Not Found
        {% endif %}
    </div>
{% endblock %}